:root {
    --cyan-color: cyan;
}


body {
    margin: 0px;
    background-color: blue;
    font-family: sans-serif;
}
.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40rem;
    height: 40rem;
    margin: 20px;
    margin-left: 37%;
}
.box {
    border: solid var(--cyan-color) 2px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}



.title {
    font-family: "Pixelify Sans" , sans-serif;
    display: flex;
    justify-content: center;
    font-size: 8rem;
    color: var(--cyan-color);
    background-color: #155e75;
    height: 9rem;
}
.Type-of-game {
    color: var(--cyan-color);
}
h1 {
    margin: 10px;
}
.restart {
    width: 14rem;
    height: 6rem;
    font-size: 4rem;
    background-color: var(--cyan-color);
}
.button, 
.Type-of-game {
    display: flex;
    justify-content: center;
}